<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="/top_pages">社内ホームページ</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <!-- <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#services">Services</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#pharmacy">株式会社pharb</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#it">株式会社ChatBot</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href='/values'>企業理念</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link"><%= link_to "企業理念", '/values' %></a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about_us">About Us</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#team">Team</a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>

<!-- Header -->
<!-- <header class="masthead">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">Welcome To Our Studio!</div>
      <div class="intro-heading text-uppercase">It's Nice To Meet You</div>
      <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Tell Me More</a>
    </div>
    <div class="header-image">
      <%= link_to top_pages_path, class: "navbar-brand" do %>
        <%= image_tag("homepage_pharb_logo.png") %>
      <% end %>
    </div>
  </div>
</header> -->


<!-- Services -->
<!-- <section class="page-section" id="services"> -->
  <!-- <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Services</h2>
        <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">E-Commerce</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Responsive Design</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Web Security</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
      </div>
    </div>
  </div>
</section> -->

<!-- 企業理念 -->
<div class="top-logo">
  <img><%= image_tag("top-image_01.png") %></img>
</div>


<!-- pharb -->
<section class="bg-light page-section" id="pharmacy">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">株式会社pharb</h2>
        <h3 class="section-subheading text-muted">Pharmacy Unit</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6 pharmacy-item">
        <a class="pharmacy-link" data-toggle="modal" href="#pharmacyModal1">
          <!-- <div class="pharmacy-hover">
            <div class="pharmacy-hover-content">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div> -->
          <img class="img-fluid">
            <%= link_to image_tag('pharmacy-01-thumbnail.png'), '/' %>
          </img>
        </a>
        <div class="pharmacy-caption">
          <h4>勤怠管理</h4>
          <p class="text-muted">毎日の出退勤登録</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 pharmacy-item">
        <a class="pharmacy-link" data-toggle="modal" href="#pharmacyModal2">
          <!-- <div class="pharmacy-hover">
            <div class="pharmacy-hover-content">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div> -->
          <img class="img-fluid">
            <%= link_to image_tag('no-image-thumbnail.png'), '/' %>
          </img>
        </a>
        <div class="pharmacy-caption">
          <h4>施設管理</h4>
          <p class="text-muted">各施設の調剤管理</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 pharmacy-item">
        <a class="pharmacy-link" data-toggle="modal" href="#pharmacyModal3">
          <!-- <div class="pharmacy-hover">
            <div class="pharmacy-hover-content">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div> -->
          <img class="img-fluid">
            <%= link_to image_tag('no-image-thumbnail.png'), '/' %>
          </img>
        </a>
        <div class="pharmacy-caption">
          <h4>在庫管理</h4>
          <p class="text-muted">薬局内の医薬品在庫</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 pharmacy-item">
        <a class="pharmacy-link" data-toggle="modal" href="#pharmacyModal3">
          <!-- <div class="pharmacy-hover">
            <div class="pharmacy-hover-content">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div> -->
          <img class="img-fluid">
            <%= link_to image_tag('no-image-thumbnail.png'), '/' %>
          </img>
        </a>
        <div class="pharmacy-caption">
          <h4>社内書式</h4>
          <p class="text-muted">営業資料,契約書etc</p>
        </div>
      </div>
      <!-- <div class="col-md-3 col-sm-6 pharmacy-item">
        <a class="pharmacy-link" data-toggle="modal" href="#pharmacyModal5">
          <div class="pharmacy-hover">
            <div class="pharmacy-hover-content">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid">
            <%= link_to image_tag('no-image-thumbnail.png'), '/' %>
          </img>
        </a>
        <div class="pharmacy-caption">
          <h4>Southwest</h4>
          <p class="text-muted">Website Design</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 pharmacy-item">
        <a class="pharmacy-link" data-toggle="modal" href="#pharmacyModal6">
          <div class="pharmacy-hover">
            <div class="pharmacy-hover-content">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid">
            <%= link_to image_tag('no-image-thumbnail.png'), '/' %>
          </img>
        </a>
        <div class="pharmacy-caption">
          <h4>Window</h4>
          <p class="text-muted">Photography</p>
        </div>
      </div> -->
    </div>
  </div>
</section>

<!-- ChatBot -->
<section class="bg-light page-section" id="it">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">株式会社ChatBot</h2>
        <h3 class="section-subheading text-muted">IT Unit</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6 it-item">
        <a class="it-link" data-toggle="modal" href="#itModal1">
          <!-- <div class="it-hover">
            <div class="it-hover-content">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div> -->
          <img class="img-fluid">
            <%= link_to image_tag('precal-thumbnail.png'), 'https://gslab0707.bob-pop.com/precal/' %>
          </img>
        </a>
        <div class="it-caption">
          <h4>precal</h4>
          <p class="text-muted">処方せん値段計算</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 it-item">
        <a class="it-link" data-toggle="modal" href="#itModal2">
          <!-- <div class="it-hover">
            <div class="it-hover-content">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div> -->
          <img class="img-fluid">
            <%= link_to image_tag('no-image-thumbnail.png'), '/' %>
          </img>
        </a>
        <div class="it-caption">
          <h4>###</h4>
          <p class="text-muted">処方せん送信アプリ</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 it-item">
        <a class="it-link" data-toggle="modal" href="#itModal3">
          <!-- <div class="it-hover">
            <div class="it-hover-content">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div> -->
          <img class="img-fluid">
            <%= link_to image_tag('no-image-thumbnail.png'), '/' %>
          </img>
        </a>
        <div class="it-caption">
          <h4>###</h4>
          <p class="text-muted">###</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 it-item">
        <a class="it-link" data-toggle="modal" href="#itModal3">
          <!-- <div class="it-hover">
            <div class="it-hover-content">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div> -->
          <img class="img-fluid">
            <%= link_to image_tag('no-image-thumbnail.png'), '/' %>
          </img>
        </a>
        <div class="it-caption">
          <h4>###</h4>
          <p class="text-muted">###</p>
        </div>
      </div>
      <!-- <div class="col-md-3 col-sm-6 it-item">
        <a class="it-link" data-toggle="modal" href="#itModal5">
          <div class="it-hover">
            <div class="it-hover-content">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid">
            <%= link_to image_tag('no-image-thumbnail.png'), '/' %>
          </img>
        </a>
        <div class="it-caption">
          <h4>Southwest</h4>
          <p class="text-muted">Website Design</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 it-item">
        <a class="it-link" data-toggle="modal" href="#itModal6">
          <div class="it-hover">
            <div class="it-hover-content">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid">
            <%= link_to image_tag('no-image-thumbnail.png'), '/' %>
          </img>
        </a>
        <div class="it-caption">
          <h4>Window</h4>
          <p class="text-muted">Photography</p>
        </div>
      </div> -->
    </div>
  </div>
</section>

<!-- About Us -->
<section class="page-section" id="about_us">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">About Us</h2>
        <h3 class="section-subheading text-muted">株式会社pharbの歴史</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li>
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="img/about/1.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2017.1.12</h4>
                <h4 class="subheading">株式会社pharb設立</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">取締役3名で株式会社を設立しました。</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="app/assets/images/timeline-02.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2017.4.1</h4>
                <h4 class="subheading">ファーブケア薬局を開局</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">1店舗目の薬局を江東区に開局しました。</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="img/about/3.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>201X.XX</h4>
                <h4 class="subheading">処方せん送信アプリ利用開始</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">###</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="img/about/4.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>201X.XX</h4>
                <h4 class="subheading">precal利用開始</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">###</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="img/about/5.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>201X.XX</h4>
                <h4 class="subheading">株式会社ChatBot設立</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">IT部門として新会社を設立し、<br>株式会社pharbを子会社化しました。</br></p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <h4>Be Part
                <br>Of Our
                <br>Story!</h4>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- Team -->
<!-- <section class="bg-light page-section" id="team">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
        <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="img/team/1.jpg" alt="">
          <h4>Kay Garland</h4>
          <p class="text-muted">Lead Designer</p>
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="img/team/2.jpg" alt="">
          <h4>Larry Parker</h4>
          <p class="text-muted">Lead Marketer</p>
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="img/team/3.jpg" alt="">
          <h4>Diana Pertersen</h4>
          <p class="text-muted">Lead Developer</p>
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
      </div>
    </div>
  </div>
</section> -->

<!-- Clients -->
<!-- <section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <a href="#">
          <img class="img-fluid d-block mx-auto" src="img/logos/envato.jpg" alt="">
        </a>
      </div>
      <div class="col-md-3 col-sm-6">
        <a href="#">
          <img class="img-fluid d-block mx-auto" src="img/logos/designmodo.jpg" alt="">
        </a>
      </div>
      <div class="col-md-3 col-sm-6">
        <a href="#">
          <img class="img-fluid d-block mx-auto" src="img/logos/themeforest.jpg" alt="">
        </a>
      </div>
      <div class="col-md-3 col-sm-6">
        <a href="#">
          <img class="img-fluid d-block mx-auto" src="img/logos/creative-market.jpg" alt="">
        </a>
      </div>
    </div>
  </div>
</section> -->

<!-- Footer -->
  <footer class="footer">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-4">
          <img><%= image_tag("homepage_pharb_logo.png") %></img>
          <!-- <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul> -->
        </div>
        <div class="col-md-4">
          <span class="copyright">copyright &copy; pharb.inc all rights reserved.</span>
        </div>
        <div class="col-md-4">
          <!-- <ul class="list-inline quicklinks">
            <li class="list-inline-item">
              <a href="#">Privacy Policy</a>
            </li>
            <li class="list-inline-item">
              <a href="#">Terms of Use</a>
            </li>
          </ul> -->
        </div>
      </div>
    </div>
  </footer>
