<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="/top_pages">社内ホームページ</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link " href='/top_pages'>TOPページ</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- メンバー -->
<section class="bg-light page-section" id="members">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">メンバー</h2>
        <h3 class="section-subheading text-muted">members</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6 member-item">
        <a class="member-link" data-toggle="modal" href="#memberModal1">
          <!-- <div class="member-hover">
            <div class="member-hover-content">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div> -->
          <img class="img-fluid">
            <%= link_to image_tag('twist_dread.jpg'), '/' %>
          </img>
        </a>
        <div class="member-caption">
          <h4>諸田智也</h4>
          <p class="text-muted">取締役</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 member-item">
        <a class="member-link" data-toggle="modal" href="#memberModal2">
          <!-- <div class="member-hover">
            <div class="member-hover-content">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div> -->
          <img class="img-fluid">
            <%= link_to image_tag('takei_mask.jpg'), '/' %>
          </img>
        </a>
        <div class="member-caption">
          <h4>竹井祐貴</h4>
          <p class="text-muted">取締役</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 member-item">
        <a class="member-link" data-toggle="modal" href="#memberModal3">
          <!-- <div class="member-hover">
            <div class="member-hover-content">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div> -->
          <img class="img-fluid">
            <%= link_to image_tag('nose_syoten.png'), '/' %>
          </img>
        </a>
        <div class="member-caption">
          <h4>野瀬明信</h4>
          <p class="text-muted">のせ商店管理者</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 member-item">
        <a class="member-link" data-toggle="modal" href="#memberModal3">
          <!-- <div class="member-hover">
            <div class="member-hover-content">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div> -->
          <img class="img-fluid">
            <%= link_to image_tag('no-image-thumbnail.png'), '/' %>
          </img>
        </a>
        <div class="member-caption">
          <h4>###</h4>
          <p class="text-muted">###</p>
        </div>
      </div>
      <!-- <div class="col-md-3 col-sm-6 member-item">
        <a class="member-link" data-toggle="modal" href="#memberModal5">
          <div class="member-hover">
            <div class="member-hover-content">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid">
            <%= link_to image_tag('no-image-thumbnail.png'), '/' %>
          </img>
        </a>
        <div class="member-caption">
          <h4>Southwest</h4>
          <p class="text-muted">Website Design</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 member-item">
        <a class="member-link" data-toggle="modal" href="#memberModal6">
          <div class="member-hover">
            <div class="member-hover-content">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid">
            <%= link_to image_tag('no-image-thumbnail.png'), '/' %>
          </img>
        </a>
        <div class="member-caption">
          <h4>Window</h4>
          <p class="text-muted">Photography</p>
        </div>
      </div> -->
    </div>
  </div>
</section>
